<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet">
    <title>App</title>
  </head>
  <body>
  <div>{{ message }}</div>
    <div class="text-blue-500">reload</div>
    <div class="text-red-500">reload</div>
    <div class="text-pink-500">reload</div>
    <div class="text-red-500">reload</div>
    <div class="text-blue-500">reload</div>
    <div class="text-red-500">reload</div>
    <div class="text-pink-500">reload</div>
    <div class="text-red-500">reload</div>
    <div class="text-blue-500">reload</div>
  </body>
</html>

<!--open 2 terminals.
1st `npx tailwindcss -i ./public/tailwind.css -o ./public/style.css --watch`
2nd `npm run start:dev`