  {% extends './base.njk' %}
  {% block content %}
  <div>{{ message }}</div>
    <div class="text-blue-600">reload</div>
    <div class="text-red-800">reload</div>
    <div class="text-pink-500">reload</div>
    <div class="text-pink-500">reload</div>
    <div class="text-pink-500">reloafsfsdfd</div>
    {% endblock %}